
body {
    position: relative;
    height: 120%;
    
}

body {
    background-color: white;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: black;
    margin: 50px;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 200%;
    padding-top: 50px 0 50px 0;
}


/* ESTILO DE LA GALERIA DE FOTOS */
.swiper-slide {
    width: 400px;
    height: 100%;
    background-color: #45B39D ;
    box-shadow: 0 0 20px rgba(0 ,0 , 0, 0.4);
    padding: 40px ;
    margin: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons i {
 font-size: 20px;
 color: burlywood;
}

.icons img{
    width: 90px;

}
 
.product-content {
    flex: 1;
}

.product-txt {
    flex-basis: 100%;
}

/* ESTILO DEL PRECIO DEL PRODUCTO*/
.product-txt span {
    font-size: 25px;
    color: yellow;
    font-weight: bold ;
}

/* ESTILO DEL TITULO DEL PRODUCTO*/
.product-txt h3 {
    font-size: 20px;
    color: rgb(5, 5, 5);
    text-transform: uppercase;
}

/* ESTILO DEL LA DESCRIÇION  DEL PRODUCTO*/

.product-txt p {
    font-size: 12px;
    color: white;
}


.product-img {
    flex-basis: 20%;
    text-align: center;
    position: relative;
}

.product-img img {
    padding: 20px;
    padding-top: 0px;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    margin: auto;

}

/* ESTILO BOTON COMPRA*/
.btn-1 {
    padding: 13px 55px;
    border: 1px solid yellow;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    background: transparent;
    display: block;
    text-align: center;
    width: 20%;
}


/* TITULO DE OFERTA*/
.titulo2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    color: mediumorchid;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 00 5px blue;
}
 


.parrPS{
    color: black;
    font-size: 25px;
    text-align: justify;
    width: -5%;
    margin: 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    display: flex;
    align-items: center;
}

/*AUMENTAR Y DISMINUIR LAS CANTIDADES*/

.quantity-selector {
    display: flex;
    align-items: center;
    margin: 10px;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    background: transparent;
    border: 1px solid yellow;
}

.quantity-selector input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
    background: transparent;
    border: 1px solid yellow;
}
